body {
    margin: 0px
}

.gm-style-iw-chr {
    position: absolute;
    right: 0;
}

.marker-label {
    position: absolute;
    top: 40px;
    left: 3px;
    font-size: 30px !important;
    text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff,
        1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff !important;
}